*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100vw;
    height: 100vh;
    background:radial-gradient(#FFCECF,#FFB6CC,#FF6992,#FF525A,#FF3869);
}

.header {
    width: 100%;
    height: auto;
    padding: 1.8rem;
    color: whitesmoke;
    text-align: center;
    background:linear-gradient(#000033,#2B3A67,#041E42);
    
}

.hand-moves{
      width: 100%;
    height: auto;
    padding: 1rem;
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-top: 1.5rem;
}


.img{
    border-radius: 50%;
    width: 12rem;
    height: auto;
    box-shadow: 10px 5px 15px rgba(0,0,0,0.6);
}

.img:hover{
    border: 4px solid whitesmoke;
    cursor: pointer;
}

.score{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    margin-top: 3rem;
    gap: 2rem;
}

.score1{
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    align-items: center;
    font-size: 1.5rem;
    font-weight: bold;
    color: #3d0202;
}

.btn {
    width: 100%;
    height: auto;
    display: flex;
     justify-content: center;
     margin-top: 2rem;
    
}

.btn p{
    background-color: #000033;
     font-size: 2rem;
     color: whitesmoke;
     padding: 0.7rem 0.8rem 0.7rem 0.8rem;
     border-radius: 1rem;
}
.button{
    margin-top: 1rem;
    padding: 0.4rem;
    background-color: #c9325a;
    border-radius: 0.3rem;
    font-weight: 500;
    border: 1px solid #3d0202;
     cursor: pointer;

}

.button:focus:hover{
background-color:#cf4f71 ;
border: 2px solid #1d0101;
}

.reset{
    display: flex;
    justify-content: center;
   
}


@media (max-width:650px){
    .hand-moves{
        flex-direction: column;
        align-items: center;
    }
}




    
